<!DOCTYPE html>
<html>
<Head>

  <title>About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Sofia');

  h3{
    font-family: sofia;
    color:black;
  }
  .rightimg{
    width: 35%;
    height: auto;
    float: right;
    margin-right: 8%;
    margin-top: -5%;
    
  }
  p{
    color:black;
  }


  </style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <a href="/main">Main</a>
  <a href="/tournaments">Tournaments</a>
  <a href="/Recruitment">Player Recruitment</a>
  <a href="/application">Team Application</a>
  <a href="/aboutus2">About Us</a>
</div>

<div id="all"> <!--put all codes inside this div-->

<nav class="navbar navbar-default" style="opacity:.8">
  <div class="container-fluid">
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li id="active" onclick="openNav()">&#9776; SYNC</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="log"><a href="/ownProfile" style="color:white">Profile</a></li>
         <li class="log"><a href="/landing" style="color:white">Logout</a></li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" style="width:350px">
        </div>
       
      </form>

    </div>
  </div>
</nav>

<div class="jumbotron" style="background-color:rgb(255, 0, 0,0.0);color:white;text-align:left;margin-top:-2%;">
    <div class="container-fluid" style="background-color:rgb(192, 192, 192,0.6)" >
      <img src="kuro.png" class="rightimg">
      <div class="row">
        <div class="col-md-5 col-md-offset-1" style="border:solid 5px;border-color:#0032a6 " >

        <h1 class="display-4" style="text-align:center;color:black">About</h1>
        <h3  style="text-align:center">"Do we care about gaming? We absoulutely care" <br> - Lisa Su</h3><br>
            <div class="col-md-6 ">
              <p class="lead" style="border-bottom: solid 2px;border-color:red">One Battlefield. Infinite Possibilities.
When it comes to diversity of heroes, abilities, and powerful items, Dota boasts an endless array—no two games are the same. Any hero can fill multiple roles, and there's an abundance of items to help meet the needs of each game. Dota doesn't provide limitations on how to play, it empowers you to express your own style.</p>
          </div>    

          <div class="col-md-6">
              <p class="lead" style="border-bottom: solid 2px;border-color:red">eSports describes the world of competitive, organized video gaming. Competitors from different leagues or teams face off in the same games that are popular with at-home gamers. These gamers are watched and followed by millions of fans all over the world, who attend live events or tune in on TV or online. Streaming services like Twitch allow viewers to watch as their favorite gamers play in real time, and this is typically where popular gamers build up their fandoms.</p>
          </div> 
          <div class="col-md-12">
            <p style="border-bottom: solid 2px;border-color:red">The world of Dota E-sport is such a fantasy. You will be at awe by the glorious displays of its players; flawless, menacing, keen, and abrupt. You will witness legends rise as they conquer the tallest of giants and make the impossible, possible. You will feel the rush of adrenaline as you see your favorite player dominate a match. <br>

              However, these things alone cannot help you reach the pinnacle of Dota. Even many of the players considered "Gods" haven't lift the Aegis of champions; the greatest achievement a player can get. Dota has and never will be a single man game, thus companions you can trust and depend on is what every player needs. players all over the globe form teams of 5 to try and accumulate DPC points which is gonna be a basis of who is invited for the next International; the biggest event yearly. Our goal is to provide millions of fans the information they need to help them track down hundreds of professional players of which team they are fighting their battle with. And to show the list of the leading teams who are most likely to get invited to the next International through their accumulated DPC points.</p>
            </div>
         </div>
              <img src="notaill.png" class="rightimg">
      </div>

      
      
    </div>
  </div>


<footer class="page-footer" style="background-color:rgb(40, 40, 41,0.8);padding:1%;margin-left:-1%;margin-right:-1%">

  <div class="container-fluid" style="margin-top:-2%">
     <div class="row">
          <h3 style="font-family: 'McLaren', cursive;color:white;padding:2%;text-align:center">Contact us</h3>
             <ul class="list-inline" style="margin-left:10%;margin-right:5%" >
                <div class="col-md-3 col-sm-6">
                </div>
                <div class="col-md-3 col-sm-6">
                  <li class="contacts">  <img src="email.png" class="contacticon">kyleoneil05@gmail.com</li>
                  <li class="contacts"> <img src="email.png" class="contacticon">eunieljamero01@gmail.com</li>
                </div>
                  <div class="col-md-3 col-sm-6">
                   <li class="contacts"> <img src="phone.png" class="contacticon">09958930663 (Globe)</li>
                   <li class="contacts"> <img src="phone.png" class="contacticon">09239269580 (Sun)</li>
                   <li class="contacts"><img src="phone.png" class="contacticon">09182408852 (Smart)</li>
                  </div>
     
               </ul>
      </div>

  </div>
  <div class="text-center" style="color: white;margin-top:1%">© 2018 Copyright:
    <a href="/landing"> Sync.com</a>
  </div>

</footer>
</div>

<script  src="java.js">
</script>


</body>
</html>


