<!DOCTYPE html>

<html>
<head>
<title>Sync</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<style type="text/css">
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.head{
background-color:rgb(255, 0, 0,0.0);
	color:white;
	text-align:center;
	margin-top:1%;
	border-bottom: 5px groove white;
	max-width: 50%;
	margin-left: 25%;
	font-family:'Quicksand',sans-serif;
	/* font-size:  */
}


.drop-down {
	margin-top: -3%;
  list-style: none; 
  overflow: hidden; 
  height: 172px; 
  background-color: #34495e;
  font-family: 'Roboto',sans-serif;
  width: 200px;
  margin-left: 11%; 
    padding: 0;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}
nav .drop-down.closed {
  height: 43px;
}

nav .drop-down li {
  border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px; 
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
   margin-left: -30px;
  margin-right: 5px;
}
.container {
  width: 30%;
  text-align: center
}

</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <a href="/main">Main</a> 
  <a href="/tournaments">Tournaments</a>
  <a href="/Recruitment">Player Recruitment</a>
  <a href="/application">Team Application</a>
  <a href="/aboutus2">About Us</a>

</div>
	<div id="all"> <!--put all codes inside this div-->

<nav class="navbar navbar-default" style="opacity:.8">
  <div class="container-fluid">
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li id="active" onclick="openNav()">&#9776; SYNC</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li class="log"><a href="/ownProfile" style="color:white">Profile</a></li>
         <li class="log"><a href="/landing" style="color:white">Logout</a></li>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" style="width:350px">
        </div>
       
      </form>

    </div>
  </div>
</nav>


<!--<div class="jumbotron jumbotron-fluid" style="background-color:rgb(255, 0, 0,0.0);color:white;text-align:center;margin-top:10%;margin-right:55%">
  <div class="container">
    <h1 class="display-4">Sign-up!</h1>
    <p class="lead">Get ready warrior</p>
    <button type="button" onclick="window.location.href = 'landing.html'"class="btn btn-default btn-transparent" style="background-color:rgb(255, 0, 0,0.0);color:white">Retreat!</button>
  </div>
</div>
-->

<div class="jumbotron jumbotron-fluid head">
<h1>Team Creation</h1>
</div>

<div class="container" style="background-color: rgb(255,255,255,.9); padding:2%;border-radius:5%;margin-top:4%">

<form action="/blogs" method="post">


    <span class="choose">Choose Game</span>
  
      <div class="dropdown">
        <div class="select">
          <span>Select Game</span>
          <i class="fa fa-chevron-left"></i>
        </div>
        <input type="hidden" name="blog[game]">
        <ul class="dropdown-menu">
          <li id="Dota2"  name="blog[game]">Dota2</li>
          <li id="CSGO"  name="blog[game]">CSGO</li>
          <li id="PUBG"  name="blog[game]">PUBG</li>
        </ul>
      </div>
  
  <span class="msg"></span>



  <div class="form-group">
    <label >Team Name</label>
    <input type="teamname" name = "blog[teamname]" class="form-control" placeholder="Name">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email"  name = "blog[email]"class="form-control"  placeholder="Email">
  </div>

  <div class="form-group">
      <label >Locality</label>
      <input type="locality" name = "blog[locality]" class="form-control" placeholder="Locality">
    </div>

  <div class="form-group">
    <label>Contact no.</label>
    <input type="contact"  name = "blog[contact]"  class="form-control"  placeholder="Contact number">
  </div>

  <div class="form-group">
    <label>Captain Name</label>
    <input type="captainname" name="blog[captainname]" class="form-control"  placeholder="Captain Name">
  </div>

  <!--<div class="form-group">
    <label >Re-type Password</label>
    <input type="password2" class="form-control" placeholder="Re-type Password">
  </div>
-->
<div class="form-group">
    <label>Logo URL</label>
    <input type="picture" name="blog[picture]" class="form-control"  placeholder="Logo URL">
  </div>
  <!--
<form>
  <div class="form-group">
    <label for="exampleInputFile">Upload Logo</label>
    <input type="file" id="exampleInputFile">
  
  </div>
</form>
  -->
  
  <div class="checkbox">
    <label>
      <input type="checkbox"> Agree to terms and conditions</input>
    </label>
  </div>
<!--type="button vvv-->
  <button type="submit" class="btn btn-default">Submit</button>

</form>

</div>
<footer class="page-footer" style="background-color:rgb(40, 40, 41,0.8);padding:1%;margin-left:-1%;margin-right:-1%">

  <div class="container-fluid" style="margin-top:-2%">
     <div class="row">
          <h3 style="font-family: 'McLaren', cursive;color:white;padding:2%;text-align:center">Contact us</h3>
             <ul class="list-inline" style="margin-left:10%;margin-right:5%" >
                <div class="col-md-3 col-sm-6">
                </div>
                <div class="col-md-3 col-sm-6">
                  <li class="contacts">  <img src="email.png" class="contacticon">kyleoneil05@gmail.com</li>
                  <li class="contacts"> <img src="email.png" class="contacticon">eunieljamero01@gmail.com</li>
                </div>
                  <div class="col-md-3 col-sm-6">
                   <li class="contacts"> <img src="phone.png" class="contacticon">09958930663 (Globe)</li>
                   <li class="contacts"> <img src="phone.png" class="contacticon">09239269580 (Sun)</li>
                   <li class="contacts"><img src="phone.png" class="contacticon">09182408852 (Smart)</li>
                  </div>
     
               </ul>
      </div>

  </div>
  <div class="text-center" style="color: white;margin-top:1%">© 2018 Copyright:
    <a href="/landing"> Sync.com</a>
  </div>

</footer>
</div>
<script  src="java.js">


</script>
</body>
</html>